@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.nav-item .nav-link{
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.bg-img {
  background-image: url("assets/backimage.png");
  min-height: 50vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.topnav {
  overflow: hidden;
}
.boxheader {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    margin-top: 9vw;
    margin-left: 10vw;
}
.box1header{
    position: absolute;
    height: 37vw;
    width: 15%;
    left: 5%;
    background-color: rgb(45, 59, 73,0.4);
}
.responsive {
    width: 4vw;
    height: 4vw;
    padding-bottom: 2px;
}
  
body{
    background-color: #1A1318;
    color: white;
}
.bg{
    height: 100px;
    background: linear-gradient(to bottom, #1A1318 60%,#2D3B49 40%) ;
    border-radius: 10px;
}
.jsgWhite{
    font-size: 50px;
}
.jsgYlw{
    font-size: 50px;
    color: hsl(37, 89%, 64%);
}
.jsgPul{
    margin-top: 10px;
    font-size: 24px;
    font-weight: lighter;
}
.icon{
    padding: 10px;
}
.outer{
    display: flex;
    justify-content: space-between;
}
.button{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #C4D0B4;
    color: black;
    margin: 50px;
    border: 0px;
    border-radius: 10px;
}
.play{
    top: 35%;
    left: 41%;
    position: absolute;
}
.relative{
    position: relative;
}
.parent{
    margin-top: 20%;
}
.lp{
    margin-right: 30px;
}
.pad{
    padding-top: 5px;
}
.arrow{
    position: absolute;
    top: 85%;
    left: 81%;
}
.visitbtn{
    margin-top: 20px;
    color: #FFFFFF;
    background-color:initial ;
    border: 1px #C4D0B4 solid ;
    border-radius: 10px;
    padding: 8px 50px 8px 50px;
}
.card-deck{  
    background-color: #373737;
    height: 452px;
}
.card-title{
    background-color: #373737;
    padding: 30px;
    text-align: center;
}
.text{
    text-align: center;
    padding: 10px;
}
.img{
    padding: 15px;
}
.lorem{
    font-size: 18px;
    font-weight: lighter;
}
.big{
    position: relative;
    float: right;
}
.small{
    position: absolute;
    background-color:black;
    width: 500px;
    height: 550px;
    top: 3270px;
    left: 190px;
    padding: 30px;
}
.icon1{
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-left: 30px;
}
.font36{
    font-size: 34px;
    font-weight: bold;
    padding: 0px 10px 10px 10px;
}
.font18{
    font-size: 18px;
    font-weight: lighter;
    padding: 10px;
}
.pbox{
    position: absolute;
    background-color:black;
    width: 500px;
    height: 520px;
    top: 4520px;
    left: 170px;
    padding: 30px;
}
.font24{
    font-size: 24px;
    font-weight: lighter;
}
.parrow{
    position: absolute;
    top: 88%;
    left: 88%;
}
.pview{
    margin-right: 50px;
    float: right;
    font-weight: bold;
}
.card{
    margin: zero;

}
.padd{
    padding: 20px;
    margin: 10px;
}
.books{
    margin-left: 10px;
    font-size: 24px;
}
.overtext{
    width: 20rem;
    text-align: center;
    position: absolute;
    opacity: 0.2rem;
    padding: 30px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: bolder;
}
.padding-0{
    margin-left: 0px;
    margin-right: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');

.contact{
  min-height: 100px;
  padding: 0px 0px;
  background-color: #1A1318;
}
.boxform{
  position:relative;
  min-height: 70px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  background-color: #1A1318;
}
.iconform{
  padding-right: 1vw;
}

.cq{
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  color: white;
  padding-bottom: 1vw;
}
.form-control{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#lowerform{
  padding-bottom: 3vw;
}
.imgcontact{
  padding-left: 3vw;
  width: 60px;
  height: 60px;
  left: 46px;
}
.sendform{
  font-family: 'Maven Pro', sans-serif;
  font-size: 36px;
  color: white;
  padding-top: 30px;
  padding-left: 15px;
}
#form{
  margin-top: 20px;
  width: 180px;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
#fields{
  background-color: black;
  padding: 20px;

}
.form-control{
  border: 0px;
  background-color: #1A1318;
  height:60px;
}
.form-group{
  padding: 1vw;
}
.form-group#tex{
  padding-bottom:40px;

}
.textarea1{
  background-color: #1A1318;
}
.container1{
    padding-bottom: 3vw;
  }



  footer{
    background-image: linear-gradient(to bottom right, #2E1750,#211A37);
}
.inner-footer{
  margin:0px;
  padding: 0px 50px;
  border: 1px solid #3C2A59;
}
.quick-links{
  display:flex;
}
.quick-items{
    list-style: none;
}
.quick-links ul{
  padding: 30px;
  margin: auto;
  display: flex;
}
.quick-items a{
  text-decoration: none;
  padding: 0px 15px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  color: white;
  transition: all 0.25s;
}
.quick-items a:hover{
  color: #6DE0FF;
  font-size: 25px;

}
.outer-footer{
  margin: 0px;
  padding: 0px;

}
.social-link{
  display: flex;
}
.social-link ul{
  padding: 10px;
  width: 250px;
  height: 40px;
  margin: auto;
  display: flex;
}
.social-items{
  list-style:none;
}
.social-items a{
  padding: 10px 20px;

}
.textfooter{
  padding: 25px;
  font-size: 24px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}
.copyright{
  padding: 50px;
  font-size: 18px;
  font-family: 'Maven Pro', sans-serif;
  color: white;
  text-align: center;
}
