@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');
.navbar-light .navbar-toggler-icon {
    background-image: url("assets/tg.jpg");
}
.nav-item .nav-link{
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.bg-img {

  background-image: url("assets/backimage.png");
  min-height: 50vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.topnav {
  overflow: hidden;
}
.boxheader p.oneheader{
  font-family: 'Maven Pro', sans-serif;
  font-size: 3vw;
}
.boxheader p.twoheader{
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 3vw;
}
.boxheader p{
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;

}
.boxheader{
  margin-top: 9vw;
  margin-left: 10vw;
}
.box1header{
  position:absolute;
  z-index: 0;
  height: 37vw;
  width: 15%;
  left: 5%;
  background-color: rgb(45, 59, 73,0.5);
}
.outer{
  position: relative;
}
.responsive {
  width: 4vw;
  height: 4vw;
  padding-bottom: 2px;
}
.ideaResonates{
  background-color:#1A1318;
}
.departments{
  background-color:#1A1318;
}
.jsgYlw{
  font-family: 'Maven Pro', sans-serif;
  font-size: 50px;
  color: hsl(37, 89%, 64%);
}
.jsgPul{
    font-style:'Open Sans', sans-serif;
    padding-top: 30px;
    margin-top: 10px;
    font-size: 24px;
    color: white;
    font-weight: lighter;

}
.pad{
    font-style:'Open Sans', sans-serif;
    padding-top: 5px;
    color: white;
}
.button{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #C4D0B4;
    color: black;
    margin: 50px;
    border: 0px;
    border-radius: 10px;
}
.embed-responsive-item{
  position: relative;
    width: 35vw;
    height: 22vw;
    border: 0;
}
.responsive1 {
  max-width: 100%;
  height: auto;
}
.row#pics{
  padding-top: 2vw;
}

.contact{
  min-height: 100px;
  padding: 0px 0px;
  background-color: #1A1318;
}
h2.oneform{
  padding-top: 40px;
  font-size: 50px;
  font-weight: 500px;
  color: white;
  text-align: center;
}
h2.twoform{

  text-align: center;
  font-size: 50px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500px;
  padding-bottom: 2vw;
  color: #F5B853;
}
p.topform{
  font-weight: 500px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 0vw 6vw;
  color: white;
  margin-bottom: 100px;
}
.boxform{
  position:relative;
  min-height: 100px;
  padding: 0px 0px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  background-color: #1A1318;
}
.iconform{
  padding-right: 1vw;
}
.textform{
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  color: white;
}
p.cq{
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  color: white;
  padding-bottom: 1vw;
}
.form-control{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.container#lowerform{
  padding-bottom: 3vw;
}
.imgcontact{
  padding-left: 3vw;
  width: 60px;
  height: 60px;
  left: 46px;
}
.sendform{
  font-family: 'Maven Pro', sans-serif;
  font-size: 36px;
  color: white;
  padding-top: 30px;
}
.btn#form{
  margin-top: 20px;
  width: 180px;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.container #fields{
  background-color: black;

}
.form-control{
  border: 0px;
  background-color: #1A1318;
  height:60px;
}
.form-group{
  padding: 1vw;
}
.form-group#tex{
  padding-bottom:40px;

}
.textarea1{
  background-color: #1A1318;
}
footer{
    background-image: linear-gradient(to bottom right, #2E1750,#211A37);
}
.inner-footer{
  margin:0px;
  padding: 0px 50px;
  border: 1px solid #3C2A59;
}
.quick-links{
  display:flex;
}
.quick-items{
    list-style: none;
}
.quick-links ul{
  padding: 30px;
  margin: auto;
  display: flex;
}
.quick-items a{
  text-decoration: none;
  padding: 0px 15px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  color: white;
  transition: all 0.25s;
}
.quick-items a:hover{
  color: #6DE0FF;
  font-size: 25px;

}
.outer-footer{
  margin: 0px;
  padding: 0px;

}
.social-link{
  display: flex;
}
.social-link ul{
  padding: 10px;
  width: 250px;
  height: 40px;
  margin: auto;
  display: flex;
}
.social-items{
  list-style:none;
}
.social-items a{
  padding: 10px 20px;

}
.textfooter{
  padding: 25px;
  font-size: 24px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}
.copyright{
  padding: 50px;
  font-size: 18px;
  font-family: 'Maven Pro', sans-serif;
  color: white;
  text-align: center;
}
