body{
    background-color: #1A1318;
    color: white;
}
.title{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 40px 10px 0px;
}
.margin{
    margin-right: 40px;
    font-weight: lighter;
}
.padding{
    padding: 20px 0px;
}
.spam{
    margin-left: 20px;
    font-size: 24px;
}